<h2>{{pet.name}}</h2>
<img src={{pet.photo}}> 
<p>{{pet.age}}</p>
<p>{{pet.description}}</p>
<p>{{pet.breed}}</p>
<p>{{pet.city}}</p>
<p>{{pet.playDay}}</p>
<p>{{pet.playTime}}</p>
<p>{{pet.address}}</p>
<p>{{pet.adoption}}</p>


<button>My pet will be there</button>
